/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Layout */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    background-color: #f0f4f8;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #2d3436;
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Logo container */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo img {
    width: 60%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Add styles for dropdown menu */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2d3436;
    min-width: 200px;
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: #f4f6f9;
    padding: 12px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #ff6f61;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Sidebar items */
nav ul {
    list-style-type: none;
    margin-top: 20px;
}

nav ul li {
    margin: 12px 0;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border-radius: 20px;
    background: none;
    transition: background 0.3s, transform 0.2s;
}

nav ul li a:hover {
    background: #ff6f61;
    transform: translateX(5px);
}

nav ul li a i {
    font-size: 1.2rem;
}

/* Footer */
.footer-bottom {
    margin-top: auto;
    text-align: center;
    color: #cccccc;
    font-size: 0.7rem;
}

.main-content {
    margin-left: 250px; /* Sidebar space */
    padding: 20px;
    width: 100%;
}

/* Table Styles */
.order-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.order-table th, .order-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.order-table th {
    background-color: #050A30;
    color: #fff;
}

.order-table td {
    background-color: #fff;
}

/* Status Dropdown */
.status-dropdown {
    padding: 5px;
    width: 120px;
    font-size: 0.9rem;
    border-radius: 15px;
}

button {
    background-color: #ff6f61;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 20px;
    font-weight: bold;
}

button:hover {
    background-color: #e85a50;
}